<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="/Style_css/Contact.css">
    <title>Web_app_chat</title>
</head>

<body>
    <div id="header">

        <div class="menu">
            <div class="logo">
                <img src="/image/logo.png" height="50px" ; alt="">
            </div>
            <a href="/home.html">Trang Chủ</a>
            <a href="#">Hỗ Trợ</a>
            <a href="/src/Views/Product.html">Sản Phẩm</a>
            <a href="/src/Views/Dowload.html">Dowload</a>
            <a href="/src/login_register/login.html">Đăng Nhập</a>
        </div>
    </div>
    <div id="content">
        <div class="content-table">
            <h1>Thông Tin Liên Hệ</h1>
            <em>Email: Vudz2310@gmail.com<br>SĐT: 0865967305<br>ADDress: Số 35, 670 Đê Nguyễn Khoái</em>
            <ul class="content-center">
                <li><a href="https://facebook.com" target="_blank">
                        <img src="/image/facebook.png" alt="Facebook" width="30">
                    </a>
                    <p>Facebook</p>
                </li>
                <li>
                    <a href="https://github.com" target="_blank">
                        <img src="/image/github.png" alt="Github" width="30">
                    </a>
                    <p>github</p>
                </li>
                <Li>
                    <a href="https://instagram.com" target="_blank">
                        <img src="/image/instagram.png" alt="Instagram" width="30">
                    </a>
                    <p>Instagram</p>
                </Li>
            </ul>

        </div>

    </div>
</body>

</html>