<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="/Style_css/Dowload.css">
    <title>Web_app_chat</title>
</head>
<body>
    <div id="header">
        
        <div class="menu">
            <div class="logo">
                <img src="/image/logo.png"height="50px"; alt="">
            </div>
            <a href="/home.html">Trang Chủ</a>
            <a href="/src/Views/Contact.html">Hỗ Trợ</a>
            <a href="/src/Views/Product.html">Sản Phẩm</a>
            <a href="#">Dowload</a>
            <a href="/src/login_register/login.html">Đăng Nhập</a>
        </div>
        <div class="content"><img src="/image/404.png" alt=""></div>
    </div>

</body>
</html>